{% extends "../ilkapp/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Örenci Ekle
{% endblock title %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"><center>Parola Değiştir</center></h1>
      
      <form method="POST">
      {% csrf_token %}
  <table class="table">
       {{form|crispy}}
    </table>
 
 
     <button type="submit" class="btn btn-primary">Değiştir</button>
    
</form>
    </div>  

</div>
{% endblock content %}