
<!doctype html>
{% load avatar_tags %}
{% load auth_extras %}
{% load mathfilters %}
<html lang="tr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{% block title %}
       
        {% endblock title %}</title>

        {% block style %}
    {% endblock style %}
  </head>
  <body>
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <a class="navbar-brand" href="{% url 'index' %}">e-dershane</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li>
              <a class="nav-link" href="{% url 'index' %}">Ana Sayfa <span class="sr-only">(current)</span></a>
            </li>
            
            {% if user.is_authenticated and request.user|has_group:"idare" or user.is_superuser or request.user|has_group:"kurum" or request.user|has_group:"ogretmenler"%}
            
            <li class="nav-item">
            {% if user.is_authenticated and request.user|has_group:"idare" or request.user|has_group:"ogretmenler"  %}
              <a class="nav-link" href="{% url 'sinifekle' user.last_name %}">Sınıflar</a>
            {% elif user.is_authenticated and  request.user|has_group:"kurum" or request.user|has_group:"ogretmenler"%}
            <a class="nav-link" href="{% url 'sinifekle' user.username %}">Sınıflar</a>
            {%endif%}
            </li>
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Öğrenci İşlemleri
        </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% if user.is_authenticated and request.user|has_group:"idare" %}
       
          <a class="dropdown-item" href="{% url 'register' user.last_name %}">Öğrenci Ekle</a>
          <a class="dropdown-item" href="{% url 'ogrencilistesi' user.last_name %}">Öğrenci Listesi</a>
          <a class="dropdown-item" href="#">Öğrenci Ara</a>
        
        {% elif user.is_authenticated and request.user|has_group:"kurum" %}
        
          <a class="dropdown-item" href="{% url 'register' user.username %}">Öğrenci Ekle</a>
          <a class="dropdown-item" href="{% url 'ogrencilistesi' user.username %}">Öğrenci Listesi</a>
          <a class="dropdown-item" href="#">Öğrenci Ara</a>
        
         {% elif user.is_authenticated and request.user|has_group:"ogretmenler" %}
        
          <a class="dropdown-item" href="{% url 'ogrencilistesi' user.last_name %}">Öğrenci Listesi</a>
          <a class="dropdown-item" href="#">Öğrenci Ara</a>
            {% endif %}
        </div>
        
        
      </li>
           
             

             <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Öğretmen İşlemleri
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% if user.is_authenticated and request.user|has_group:"idare" and request.user|has_group:"ogretmenler" %}
        
          <a class="dropdown-item" href="{% url 'ogretmenlistesi' 'hepsi' user.last_name %}">Öğretmen Listesi</a>
          <a class="dropdown-item" href="{% url 'ogretmenkayit' user.last_name %}">Öğretmen Kayıt</a>
          <a class="dropdown-item" href="{% url 'birebirekle' user.last_name %}">Birebir Ekle</a>
          <a class="dropdown-item" href="{% url 'ogretmenbbdp' user.last_name user.first_name 'ogretmen'  %}">Birebirlerim</a>
        {% elif user.is_authenticated and request.user|has_group:"kurum" %}
       
          <a class="dropdown-item" href="{% url 'ogretmenlistesi' 'hepsi' user.username %}">Öğretmen Listesi</a>
          <a class="dropdown-item" href="{% url 'ogretmenkayit' user.username %}">Öğretmen Kayıt</a>
          <a class="dropdown-item" href="{% url 'birebirekle' user.username %}">Birebir Ekle</a>   
        
        {% elif user.is_authenticated and request.user|has_group:"ogretmenler" %}
       
          <a class="dropdown-item" href="{% url 'ogretmenbbdp' user.last_name user.first_name 'ogretmen'  %}">Birebirlerim</a>
          <a class="dropdown-item" href="{% url 'ogrencilistesi' user.last_name %}">Öğrenci Listesi</a>
          <a class="dropdown-item" href="#">Öğrenci Ara</a>

          {%endif%}
          
        </div>
        </li>
      
          <li class="nav-item">
            {% if user.is_authenticated and request.user|has_group:"idare" %}
              <a class="nav-link" href="{% url 'dersekle' user.last_name  %}">Dersler</a>
             {% elif user.is_authenticated and  request.user|has_group:"kurum" %}
             <a class="nav-link" href="{% url 'dersekle' user.username %}">Dersler</a>
               {%endif%}
            </li>
          
            {% endif %}
             {% if user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'kurumkayit' %}">Kurum Ekle</a>
            </li>
           
          
            {% endif %}
    {% if user.is_authenticated  %}
        
        
        <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Oturumu Kapat</a>
            </li>
       
            <li class="nav-item">
              <a class="nav-link" href="{% url 'password_change'%}" >Şifre Değiştir</a>
            </li>
            {%if  user.is_authenticated and request.user|has_group:"ogrenciler"%}
         <li class="nav-item">
            <a class="nav-link"  href="{% url 'ogrencibbdp' user.last_name user.first_name 'ogrenci'  %}">Birebirlerim</a>
          </li>
            {% endif %}
          <li class="nav-item">
           {%if  user.is_authenticated and request.user|has_group:"ogretmenler"%}
           <a class="nav-link" href="{% url 'gelenmesaj' user.last_name user.first_name 'ogretmenler' %}" >Mesajlarım</a>
           {%elif  user.is_authenticated and request.user|has_group:"ogrenciler"%}
           <a class="nav-link" href="{% url 'gelenmesaj' user.last_name user.first_name 'ogrenciler' %}" >Mesajlarım</a>
            {%endif%}
            </li>
           <li class="nav-item">
              <h6 class="nav-link" >{{ user.first_name }}</h6>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ajaxdeneme' %}">ajax deneme</a>
            </li>
               {% else %}
  
        <li class="nav-item">
              <a class="nav-link" href="{% url 'user_login' %}">Oturum Aç</a>
            </li>
            
    {% endif %}
             
           
          </ul>
        
          
        </div>
      </nav>
      {% block content %}
        {% endblock content %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   
    
    {% block javascript %}
    {% endblock javascript %}
   
    
    
  </body>
</html>