{% extends "ilkapp/base.html" %}
{% block title %}
Ana Sayfa
{% endblock title %}
{% load static %}

 {% block style %}
     
    {% endblock style %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"><center>Sayın {{adi}} Yetkiniz olmayan bir alana ulaşmaya çalışıyorsunuz..!</center></h1>
      <p class="lead"><center>Lütfen Kurum yöneticinizle iletişime geçin...</center></p>
      
    </div>
  </div>
  
  
  
{% endblock content %}
