{% extends "ilkapp/base.html" %}
{% block title %}
göster
{% endblock title %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"><center>TODO List</center></h1>
      <p class="lead"><center>yapılacaklar listesi</center></p>
      <p><center><a type="button" class="btn btn-outline-success" href="{% url 'create' %}">Listeye Ekle</a></center></p>
    </div>
  </div>
  <div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">ToDo Adı</th>
      <th scope="col">Bitti</th>
      <th scope="col">Tarih</th>
      <th scope="col">Sil</th>
      <th scope="col">Güncelle</th>
    </tr>
  </thead>
  <tbody>
   {% for todo in liste %}
    <tr>
      <td scope="col">{{todo.adi}}</td>
      <td scope="col">{{todo.sinifi}}</td>
      <td scope="col">{{todo.telefonu}}</td>
      <td scope="col">{{todo.numarasi}}</td>
   {% endfor %}
  </tbody>
</table>
{% if liste.has_previous %}
    <a href="?sayfa={{ liste.previous_page_number }}">Önceki</a>
{% endif %}
 
{{ liste.number }}
 
{% if liste.has_next %}
    <a href="?sayfa={{liste.next_page_number }}">Sonraki</a> 
{% endif %}
 <form method="GET" action="{% url 'ogrFiltre' %}">
      {% csrf_token %}
<div class="form-row">
    <div class="form-group col-sm-10">
      <label >adı</label>
      <input type="text" class="form-control" name="ogrenci_adi" placeholder="adı">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        {% for todo in liste %}
        <option>{{todo.adi}}</option>
         {% endfor %}
      </select>
    </div>
    <div class="col-sm-10">
                <button  type="submit" class="btn btn-success">filtrele</button>
    </div>
    
</form>
    </div>   
    </div>
</div>

 
 
  
  
{% endblock content %}
