{% extends "ilkapp/base.html" %}
{% block title %}
Ana Sayfa
{% endblock title %}
{% load static %}

 {% block style %}
     
    {% endblock style %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"><center>E-Ddershane</center></h1>
      <h3 class="lead"><center>Özel Eğitim Kurumları Yönetim ve Bilgi Sistemi</center></h3>
      
    </div>
  </div>
  
  <div class="container">
Lütfen Oturum Açın...
</div>

 
 
  
  
{% endblock content %}
