{% extends "ilkapp/base.html" %}
{% load auth_extras %}
{% block title %}
{{adi}}
{% endblock title %}
{% block content %}
{%if deleted %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
    
      <h1 class="display-4"><center>Silme işlemi başarılı </center></h1>
      </div></div>
    {%else%}
      
     
    
  
  <div class="container">
 
<table class="table table-bordered table-sm ">
  <thead>
  
    <tr>
      <th colspan="5" scope="col">{{adi}} Birebir ders programı 
      <font color="red">{{aldigibb}}</font>  birebir dersi listelendi
      <a href="{% url 'pdfolustur' adi 'ogrenci' %}" class="text-success" target="blank">İndir</a>
      </th>
    </tr>
    
    
    <tr>
    <td>Pazartesi </td>
    {% for todo in pazartesi %}
    <td>{{todo.bbsaati}} -{{todo.bbbitissaati}} <br>{{todo.bbdersadi}}-<br>{{todo.bbogretmen}}
    <br>{% if user.is_authenticated and request.user|has_group:"kurum" or request.user|has_group:"idare"%} 
        <a href="{% url 'deletebb' todo.last_name todo.id 'ogrenci'%}" type="button" class="btn btn-outline-success">Sil</a>
        {%endif%}
    </td>
     {% endfor %}
    </tr>
    <tr>
    <td>Salı </td>
    {% for todo in sali %}
    <td>{{todo.bbsaati}} - {{todo.bbbitissaati}} <br>{{todo.bbdersadi}}-<br>{{todo.bbogretmen}}
    <br>{% if user.is_authenticated and request.user|has_group:"kurum" or request.user|has_group:"idare"%} 
        <a href="{% url 'deletebb' todo.last_name todo.id 'ogrenci'%}" type="button" class="btn btn-outline-success">Sil</a>
        {%endif%}
    </td>
     {% endfor %}
    </tr>
     <tr>
    <td>Çarşamba</td>
    {% for todo in carsamba %}
    <td>{{todo.bbsaati}} - {{todo.bbbitissaati}} <br>{{todo.bbdersadi}}-<br>{{todo.bbogretmen}}
    <br>{% if user.is_authenticated and request.user|has_group:"kurum" or request.user|has_group:"idare"%} 
        <a href="{% url 'deletebb' todo.last_name todo.id 'ogrenci'%}" type="button" class="btn btn-outline-success">Sil</a>
        {%endif%}
    </td>
     {% endfor %}
    </tr>
     <tr>
    <td>Perşembe </td>
    {% for todo in persembe %}
    <td>{{todo.bbsaati}} - {{todo.bbbitissaati}} <br>{{todo.bbdersadi}}-<br>{{todo.bbogretmen}}
    <br>{% if user.is_authenticated and request.user|has_group:"kurum" or request.user|has_group:"idare"%} 
        <a href="{% url 'deletebb' todo.last_name todo.id 'ogrenci'%}" type="button" class="btn btn-outline-success">Sil</a>
        {%endif%}
    </td>
     {% endfor %}
    </tr>
     <tr>
    <td>Cuma</td>
    {% for todo in cuma%}
    <td>{{todo.bbsaati}} - {{todo.bbbitissaati}} <br>{{todo.bbdersadi}}-<br>{{todo.bbogretmen}}
    <br>{% if user.is_authenticated and request.user|has_group:"kurum" or request.user|has_group:"idare"%} 
        <a href="{% url 'deletebb' todo.last_name todo.id 'ogrenci'%}" type="button" class="btn btn-outline-success">Sil</a>
        {%endif%}
    </td>
     {% endfor %}
    </tr>
     <tr>
    <td>Cumartesi</td>
    {% for todo in cumartesi%}
    <td>{{todo.bbsaati}} - {{todo.bbbitissaati}} <br>{{todo.bbdersadi}}-<br>{{todo.bbogretmen}}
    <br>{% if user.is_authenticated and request.user|has_group:"kurum" or request.user|has_group:"idare"%} 
        <a href="{% url 'deletebb' todo.last_name todo.id 'ogrenci'%}" type="button" class="btn btn-outline-success">Sil</a>
        {%endif%}
    </td>
     {% endfor %}
    </tr>
     <tr>
    <td>Pazar</td>
    {% for todo in pazar%}
    <td>{{todo.bbsaati}} - {{todo.bbbitissaati}} <br>{{todo.bbdersadi}}-<br>{{todo.bbogretmen}}
    <br>{% if user.is_authenticated and request.user|has_group:"kurum" or request.user|has_group:"idare"%} 
        <a href="{% url 'deletebb' todo.last_name todo.id 'ogrenci'%}" type="button" class="btn btn-outline-success">Sil</a>
        {%endif%}
    </td>
     {% endfor %}
    </tr>
    <tr>
        <td align="center" colspan="6"><a href="{% url 'pdfolustur' adi 'ogrenci' %}" type="button" class="btn btn-outline-success">Yazdır</a></td>
         </tr>
     
       

  
      
   
  </tbody>
</table>
</div>
{%endif%}
 
 
  
  
{% endblock content %}
