{% extends "ilkapp/base.html" %}
{% block title %}
göster
{% endblock title %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"><center>TODO List</center></h1>
      <p class="lead"><center>yapılacaklar listesi</center></p>
      <p><center><a type="button" class="btn btn-outline-success" href="{% url 'create' %}">Listeye Ekle</a></center></p>
    </div>
  </div>
  <div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">ToDo Adı</th>
      <th scope="col">Bitti</th>
      <th scope="col">Tarih</th>
      <th scope="col">Sil</th>
      <th scope="col">Güncelle</th>
    </tr>
  </thead>
  <tbody>
   {% for todo in liste %}
    <tr>
      <td scope="col">{{todo.adi}}</td>
      <td scope="col">{{todo.sinifi}}</td>
      <td scope="col">{{todo.telefonu}}</td>
      <td scope="col">{{todo.numarasi}}</td>
   {% endfor %}
  </tbody>
</table>
 
    </div>  
</div>

 
 
  
  
{% endblock content %}
