{% extends "ilkapp/base.html" %}
{% block title %}
Ana Sayfa
{% endblock title %}
{% load static %}

 {% block style %}
     <style>
      .divim{
        margin-left:auto;
        margin-right:auto;
        width:300px;

      }
     </style>
    {% endblock style %}
{% block content %}

    <div class="container">
      
      <p class="lead"><center>{{ogretmen.first_name}} Yetki düzenleme sayfası</center></p>
      <div class="divim">
      <form method="POST">
       {% csrf_token %}
        <div class="checkbox">
         <label><input name="ogretmenler" disabled class="form-check-input" type="checkbox" {% if ogretmenler %} checked="checked" {%endif%}>Öğretmen</label>
      </div>
      <div class="checkbox">
        <label><input name="idare" class="form-check-input" type="checkbox" {% if idare %} checked="checked" {%endif%}>İdareci</label>
      </div> 
      <div class="checkbox">
        <label><input name="muhasebe" class="form-check-input" type="checkbox" {% if muhasebe %} checked="checked" {% endif %}>Muhasebe</label>
      </div>
      <button type="submit" class="btn btn-outline-success">Değişiklikleri Kaydet</button>
      </form>
    </div>
  </div>
  
  
  
{% endblock content %}
